.followerImg {
  height: 50%;
  width: 40%;
  border-radius: 50%;
}

.followers-title {
  margin-bottom: 2%;
}

.followers-component {
  display: flex;
  width: 60%;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.follower-details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: left;
  width: 100%;
  height: 100%;
}

.followerImg {
  max-height: 50px;
  border-radius: 25px;
}

.outer-prof-div-shell {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.outer-name-div-shell {
    display: flex;
    align-items: center;
}

.followers-list {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
}

.Followers-Details{
  width: 20%;
  height: 50%;
}
