.followers-component {
  display: flex;
  width: 60%;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.follower-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.followerImg {
  max-height: 50px;
  border-radius: 25px;
}
