.signupPageMainDiv{
    width: 100%;
    height: 90%;
    display: flex;
    border-top: 1px solid white;
}

.signupLogoTmDiv{
    display: flex;
    align-items: center;
    margin-bottom: 25%;
}

.signupBlueDiv {
    width: 50%;
    background-color: rgb(3, 96, 191);
}

.signupwhiteDiv {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
.signupblueDivH2 {
    margin: 0;
    color: white;
    width: 170px;
    text-overflow: none;
    margin-top: 5%;
}
.signupblueDivLogo{
    width: 110px;
    height: 100px;
    margin-top: 1%;
}

.signupblueDivQuote{
    width: 60%;
    text-overflow: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupblueDivQuoteH3{
    color: #e6eff9;
    font-size: 35px;
    margin-bottom: 5%;
}

.signupblueDivQuoteP {
    color: #e6eff9;
    font-size: 25px;
    margin-bottom: 25%;
}

.signupinnerWhiteDiv{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-items: flex-end;
    align-self: center;
    margin-top: 30%;
}

.signupBlueOuterDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
}
