/* .allCar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow-button-left {
  position: relative;
  background-color: transparent;
  border: None;
}

.arrow-button-left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
  border-style: solid;
  left: -10px;
  bottom: -10px;
}

.arrow-button-right {
  position: relative;
  background-color: transparent;
  border: None;
}

.arrow-button-right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  border-style: dotted;
  right: -10px;
}

.homeTitle {
  font-size: 44px;
  font-weight: 700;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif
} */

/* starts here */
:root {
  --swiper-theme-color: #ffffff;
}

.swiper {
  width: 40%;
  height: 64%;
  /* border: solid 1px white; */
  box-shadow: 0 0 20px 5px rgba(148, 147, 147, 0.2);
  border-radius: 1em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(2, 53, 105);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination {
  margin-top: 1vh;
  color: #ffffff;
  /* background-color: rgb(63, 5, 1); */
}
