
* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/MuseoSansRounded500.otf');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: MuseoSansRounded;
}

/* starts here */
.navbar {
    /* background-color: rgb(2, 53, 105);
     */
     background: linear-gradient(to bottom, 
     rgb(1, 32, 63), 
     rgb(2, 37, 72), 
     rgb(1, 44, 87), 
     rgb(2, 53, 105));

    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inner-nav-bar {
    display: flex;
    height: 100%;
    width: 98%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
}

#logoutnavbtnli {
    width: 8%;
}

.navBarLogo {
    height: 100%;
    width: 55%;
    /* background-color: bisque; */
}

.logo-img {
    height: 97%;
    width: 26%;
    object-fit: cover;
}

.second-half-nav-bar {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(4, 58, 0); */

}

.nav-bar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.navbarLi {
    border: 1px solid white;
    border-radius: 0.2em;
    width: 14%;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
}

.navbarLi:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  /* transform: translateY(-0.1em); */
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(180deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}

.navbarLi-navig {
    border-radius: 0.3em;
    width: 14%;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
    border: none;
    margin-right: 7%;
    cursor: pointer;
}

.navbarLi-navig:hover {
    box-shadow: 0 0 5px 2px rgb(127, 147, 246);
    background: transparent;
    transition: 10ms ease;
}

.about-us-home, .home-page-navig {
    color: rgb(241, 248, 255);
}


a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
  }

.new-navbarLi {
    border-radius: 0.2em;
    width: 10%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-butt {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
}
