.whole-user-home-page {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-page-outer {
    display: flex;
    width: 95%;
    height: 100%;

}

.right-side-whole-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px rgb(246, 246, 246) solid;

}

.home-action-nav-bar {
    /* background-color: rgb(236, 236, 249); */
    width: 20%;
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid white;
}

.center-page {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock-side {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid white;
}

.clock {
    width: 80%;

}

.home-prof-pic {
    width: 40%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;

}

.home-profile-image {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-profile-info {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-user-name {
    margin-block-start: 0;
    margin-block-end: 0;
}

.home-profile-nav {
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inbox-title {
    color: rgb(0, 0, 0);
}

.home-user-email {
    margin-block-start: 0;
    margin-block-end: 0;
}

.bubble-info-box {
    border: 1px solid rgb(255, 255, 255);
    width: 92%;
    height: 80%;
    border-radius: 2em;
    display: flex;
    background-color: rgb(3, 96, 191);
}

.bubble-info-indiv {
    width: 33%;
    height: 100%;
}

.bubb-inside-contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 204, 133);
}

#right-border-bubb {
    border-right: 1px solid rgb(255, 255, 255);
}

.outer-nav-outline {
    width: 90%;
    height: 90%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-task-option {
    width: 100%;
    height: 33%;
    border: 2px grey solid;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.nav-list-option {
    width: 100%;
    height: 33%;
    border: 2px grey solid;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y: auto; */
    /* overflow: hidden; */
}
.listMapped{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.listMapped::-webkit-scrollbar {
    display: none;
  }


.center-box-outline {
    border: 2px solid blue;
    width: 90%;
    height: 90%;
    margin-top: 2%;
    border-radius: 1em;
    background-image: url('https://64.media.tumblr.com/f16632041cc5b28d8a0d59fca0e83637/tumblr_omlg0yRWJN1rtynt1o1_1280.jpg');
    background-size: cover;
}

.completed-butts-div {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.comp-butt {
    padding: 2%;
    border-radius: 1em;
    ;
    background-color: rgb(6, 119, 8);
    color: white;
}

.incomp-butt {
    padding: 2%;
    border-radius: 1em;
    background-color: rgb(236, 236, 249);
}

.inbox-info-titles {
    color: rgb(0, 87, 153);
    word-break: break-all;
}

#edit-pencil, #delete-butt-emoji {
    width: 2em;
    font-weight: bold;
}
