.whole-user-home-page {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.home-page-outer {
    display: flex;
    width: 95%;
    height: 100%;
}

.right-side-whole-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px rgb(246, 246, 246) solid;

}

.home-action-nav-bar {
    /* background-color: rgb(236, 236, 249); */
    width: 16%;
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid white;
}

.center-page {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock-side {
    width: 13%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 0.5px solid white;
    margin-top: 16.3%;
    /* background-color: pink; */
}


.home-prof-pic {
    width: 50%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;

}

.home-profile-image {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-profile-info {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.home-user-name {
    margin-block-start: 0;
    margin-block-end: 0;
}

.home-profile-nav {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inbox-title {
    color: rgb(0, 0, 0);
}

.home-user-email {
    margin-block-start: 0;
    margin-block-end: 0;
}

.bubble-info-box {
    width: 100%;
    height: 80%;
    border-radius: 2em;
    display: flex;
    background-color: rgb(2, 53, 105);
    box-shadow: 0px 2px 10px 0px rgb(86, 85, 85);
}


.bubble-info-indiv {
    width: 33%;
    height: 100%;

}

.bubb-inside-contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(249, 198, 96);
}

#right-border-bubb {
    border-right: 1px solid rgb(255, 255, 255);
}

.need-contain {
    width: 90%;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-nav-outline {
    width: 90%;
    height: 93%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-task-option {
    width: 100%;
    height: 33%;
    border: 2px grey solid;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.nav-list-option {
    width: 100%;
    height: 33%;
    border: 2px grey solid;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 4% 0%;
    /* overflow-y: auto; */
    /* overflow: hidden; */
}

.listMapped {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.listMapped::-webkit-scrollbar {
    display: none;
}


.center-box-outline {
    /* border: 2px solid rgb(1, 32, 63); */
    box-shadow: 0px 2px 10px 0px black;
    width: 90%;
    height: 90%;
    margin-top: 2%;
    border-radius: 1em;
    background-image: url('https://64.media.tumblr.com/d31faef737ac2ead71a54a4dcc020c61/tumblr_of382gRs0s1smipnlo1_1280.jpg');
    background-size: cover;
}

.completed-butts-div {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.comp-butt {
    padding: 2%;
    border-radius: 1em;
    background-color: rgb(3, 98, 5);
    color: white;
    border: 1px solid black;
}

.comp-butt:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(26, 26, 26);
}

.incomp-butt {
    padding: 2%;
    border-radius: 1em;
    border: 1px solid black;
    background-color: rgb(236, 236, 249);
}

.incomp-butt:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(26, 26, 26);
}

.inbox-info-titles {
    color: rgb(0, 87, 153);
    word-break: break-all;
}

#edit-pencil,
#delete-butt-emoji {
    width: 2em;
    font-weight: bold;
}
