
.totalDash {
    display: flex;
    flex-direction:row;
    height: 100%;

}

.leftDash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-image: url("../../Images/background.jpg");
    height: 100%;
}

.rightDash {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    width: 50%;
    /* background-color: rgb(0,96,191, .75);
    position: relative;
    z-index: -1; */
}

.whiteBack {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    padding: 50px;
    height: 55%;
    width: 55%;
}

.activity {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.oneActivity {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px;
    border-radius: 5px;
    /* position: relative; */
    /* background-color: white; */
    /* z-index: 1; */
}

.statz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activeTitle {
    color: white;
    margin-top: 40px;
    background-color:rgb(210,75,3);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.dayTaskz {
    padding: 5px;
    background-color:rgb(210,75,3);
    border-radius: 10px;
    margin: 5px;
    color: white;
}

.leftLists {
    padding: 5px;
    background-color: rgb(0,96,191);
    border-radius: 10px;
    margin: 5px;
    color: white;
}

.leftTitles {
    padding: 20px;
}