.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow-y: hidden;
    /* position: absolute; */
}

.signInButton {
    width: 12vw;
    height: 5vh;
    border-radius: 5px;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
    font-size: 1em;
    color: rgb(255, 255, 255);
    /* margin: 20px; */
    padding: 11px 32px 12px;
    border: none;
    font-weight: bold;
    margin-bottom: 1.5vh;
    margin-top: 1vh;
}

.signInButton:hover {
    background: transparent;
    border: 1px solid white;
}

.details-footer {
    color:rgb(219, 66, 1);
}

.homeTitle {
    color: rgb(255, 255, 255);
    margin-top: 1vh;
}

.mainDiv {
    background-color: rgb(2, 53, 105);
    height: 90vh;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.milk-img {
    z-index: -1;
    position: relative;
    /* border: 1px solid red; */
    height: 22vh;
    width: 100%;
    margin-top: -2vh;
}

.milk-splash {
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
}

.footer {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: white; */
    background: linear-gradient(to bottom, #eeeded 15%, #f7f5f5 25%, #ffffff 60%);
    height: 6vh;
    width: 100%;
    margin-top: 85vh;
}

.linkedin {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.linkedin:hover{
    color:rgb(105, 128, 243);
}


    