.createListForm{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createListInput {
    width: 250px;
    margin-bottom: 5%;
    padding-left: 1%;
}

#createListSubmitBtn{
    width: 260px;
    height: 25px;
    background-color: rgb(30, 157, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.3em;
}

#createListSubmitBtn:hover{
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.errorsDiv{
    margin-bottom: 3%;
    margin-top: 3%;
}

.createListForm > p {
    color: rgb(42,157,255);
}

.make-list-del-div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
