
.loginPageMainDiv {
    width: 100%;
    height: 90%;
    display: flex;
    border-top: 1px solid white;
}

.logoTmDiv {
    display: flex;
    align-items: center;
    margin-bottom: 25%;
}

.blueDiv {
    width: 50%;
    background-color: rgb(3, 96, 191);
}

.whiteDiv {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.blueDivH2 {
    margin: 0;
    color: white;
    width: 170px;
    text-overflow: none;
    margin-top: 5%;
}

.blueDivLogo {
    width: 110px;
    height: 100px;
    margin-top: 1%;
}

.blueDivQuote {
    width: 60%;
    text-overflow: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueDivQuoteH3 {
    color: #e6eff9;
    font-size: 35px;
    margin-bottom: 5%;
}

.blueDivQuoteP {
    color: #e6eff9;
    font-size: 25px;
    margin-bottom: 25%;
}

/* #signupButtonLoginPage{
    width: 110px;
    height: 40PX;
    background-color: rgb(230,239,249);
    margin-top: 55%;
    margin-right: 10%;
    border: none;
    border-radius: 7%;
    color: rgb(114,119,124);
} */

.innerWhiteDiv{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-items: flex-end;
    align-self: center;
    margin-top: 30%;
}

.blueOuterDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
}
