.bigAboutUsDiv {
    display: flex;
}


.blueSideAboutUs {
    border-top: 1px solid white;
    height: 100vh;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -5%;
}

.whiteSideAboutUs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user1BlueSide {
    margin-left: 35%;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgb(27,96,191);
    margin-top: 2%;
}

.user2BlueSide {
    margin-left: 35%;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    box-shadow: 2px 2px 30px rgb(27,96,191);
}

.user3BlueSide {
    margin-right: 35%;
    width: 300px;
    height: 400px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgb(27,96,191);
}

.user4BlueSide {
    margin-right: 35%;
    margin-top: 2%;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgb(27,96,191);
}

.user1BlueSide>img {
    margin-top: 3%;
    max-width: 350px;
    max-height: 400px;

}

.user2BlueSide>img {
    margin-top: 3%;
    max-width: 323px;
    max-height: 400px;

}

.user3BlueSide>img {
    margin-top: 3%;
    max-width: 330px;
    max-height: 400px;

}

.user4BlueSide>img {
    margin-top: 3%;
    max-width: 330px;
    max-height: 400px;

}

.user1BlueSide>a{
    margin-top: 5%;
    color: rgb(27,96,191);
}
.user2BlueSide>a{
    margin-top: 5%;
    color: rgb(27,96,191);
}
.user3BlueSide>a{
    margin-top: 5%;
    color: rgb(27,96,191);
}
.user4BlueSide>a{
    margin-top: 5%;
    color: rgb(27,96,191);
}